body {
    font-family: fantasy;
    margin: 0;
    padding: 0;
    width: 98.4vw;
    min-height: 99.9vh; 
    position: relative;
    display: grid;
        grid-template-rows: 10vh 80vh 20vh;
        grid-template-columns: 100vw;
        grid-template: 
        "header"
        "main"
        "footer"
        ;

}
header, footer {
    /* background-color: #c78c16; */
    background: linear-gradient(to right, #c78c16, #e5cd76);
    color: white;
    padding: 10px;
    text-align: center;
    width: 100%; 
    position: absolute;
}
header {
    display: grid;
    grid-area: header;
    top: 0; 
    position: fixed;
    border-bottom: 2px solid #a77613;
    font-size: 200%;
}
        .profilkep {
            width: 5vw;
            position: relative;
            border-radius: 50%;
            transition: transform 0.5s ease-in-out; 
        }
                    .profilkep:hover {
                        transform: rotate(360deg);
                    }
        .profilkepdiv {
            float: left;
            margin-left: 6vw;
        }                
        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        nav ul li {
            display: inline;
            margin-right: 20px;
        }
        nav ul li a {
            color: white;
            text-decoration: none;
        }

        a {
            color: white;
        }
        sup {
            font-size: x-small;
        }

main {
    display: grid;
    grid-area: main;
/*     padding: 20px; */
    margin-bottom: 5%;
    margin-left: 3%;
    color: #9d6900;
}
        h1{
            margin-top: 20vh;
            text-align: center;
        }
        .introh1 {
            margin-top: 10vh;
            text-align: center;
        }
footer {
    display: grid;
        grid-template-columns: 80vw 20vw;
        grid-template: 
        "bal jobb"
        ;
    grid-area: footer;
    bottom: 0; 
    border-top: 2px solid #a77613;
}
        .contacts {
            margin-right: 5%;
        }
        .message {
            display: grid;
            grid-area: jobb;

            text-align: center;
            margin-right: 5%;
        }
            .messageszoveg {
                height: 10vh;
                background-image: url(./img/envelope\ 0hatter.png);
                    background-size: contain; 
                    background-repeat: no-repeat;
                    background-position: right;
                    }
        .footerlink {
            margin-right: 8%;
            text-decoration: italic;
        }
        .footerbal {
            display: grid;
            grid-area: bal;
            word-spacing: 200%;
        }
        .sendbutton {
            font-family: fantasy;
            color: #9d6900;
        }
.active {
    text-decoration: underline;
}


/* --------------------------------------------------------------------------------------------------------------------------------- */

/* MOC ---------------------------------------------------------------------------------------------------------------------------*/ 

.grid-container {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 3%;
    margin-bottom: 25vh;
    margin-top: 5vh;
  }
  
  .moclink {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none; /* Removes the default underline */
    position: relative; /* Needed for absolute positioning of text */
  }
  
  .moclink img {
    max-width: 90%; /* Ensures the image does not exceed its container */
  }
  
  .moclink::after {
    content: attr(data-text);
    font-size: 150%;
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* Adjust the transparency here */
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .moclink:hover::after {
    opacity: 1;
  }
  
  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 6%;
    font-weight: bold;
    text-align: center;
    pointer-events: none; /* Ensures the text doesn't interfere with hover */
  }
  /* --------------------------------------------------------------------------------------------------------------------------------- */
  /* CUSTOMS ---------------------------------------------------------------------------------------------------------------------------*/ 
  
  .category {
    margin-bottom: 30px;
}

.category h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.gallery img {
    width: 100%;
    height: auto;
}
/* --------------------------------------------------------------------------------------------------------------------------------- */
  /* NATURE PHOTOS ---------------------------------------------------------------------------------------------------------------------------*/ 
  
  .grid-container {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 3%;
    margin-bottom: 25vh;
    margin-top: 5vh;
  }
  
  .natphotolink {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none; /* Removes the default underline */
    position: relative; /* Needed for absolute positioning of text */
  }
  
  .natphotolink img {
    max-width: 90%; /* Ensures the image does not exceed its container */
  }
  
  .natphotolink::after {
    content: attr(data-text);
    font-size: 150%;
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* Adjust the transparency here */
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .natphotolink:hover::after {
    opacity: 1;
  }
  
  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 6%;
    font-weight: bold;
    text-align: center;
    pointer-events: none; /* Ensures the text doesn't interfere with hover */
  }
  /* --------------------------------------------------------------------------------------------------------------------------------- */
  /* RESPONSIVITY */
